---
layout: default
inlineCSS: >-
  .line > span:last-child {
    float: right;
  }
  .header {
    text-align: center;
  }

  ul {
    margin: 0 0 1em;
    padding-left: 1.7rem;
  }

  ul > li::marker {
    content: "*  ";
    font-weight: 700;
  }

  ul ul > li::marker {
    content: "‣  ";
    font-weight: 400;
  }


  .box-link {
    color: var(--links);
    background-color: color-mix(in srgb, var(--links) 20%, transparent);
    font-weight: 200;
    text-decoration: none;
    padding: 0px 4px;
    border-radius: 4px;
  }

  .publication .series {
    display: inline-block;
    background-color: var(--color-link);
    color: white;
    font-weight: 300;
    padding: 0.1em 0.3em;
    border-radius: 4px;
    font-size: 0.95em;
    vertical-align: middle;
    margin-right: 0.2em;
  }
---

<!-- Education -->
<div class="card">
  <h2 class="header">Education</h2>

  {% for position in site.data.cv.education %}
    <div class="line-with-icon">
      <img src="/images/favicons/{{ position.logo }}" class="favicon" alt="{{ position.name }} Logo">
      <div class="entry">
        <div class="line">
          <span><b>{{ position.name }} ({{ position.country }})</b></span>
          <span><b>{{ position.date }}</b></span>
        </div>
        <div class="line">
          {{ position.title }}
        </div>
        {% if position.thesis %}
          <div class="line">
            Thesis: {{ position.thesis }}
          </div>
        {% endif %}
        <div class="line">
          Advisor: {{ position.advisor }}
        </div>
        {% if position.note %}
          <div class="line"><i>{{ position.note }}</i></div>
        {% endif %}
        <br>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Publications -->
<br>
<div class="card">
  <h2 class="header">Publications</h2>

  <article class="publication" style="padding-left: 26px;">
    {% for year in site.data.publications %}
      {% for pub in year[1] %}
        <span class="series">{{ pub.acronym }}</span>
        <cite class="title">
          {% if pub.DOI or pub.PDF %}
            <a href="{% if pub.DOI %}{{ pub.DOI }}{% else %}{{ pub.PDF }}{% endif %}" target="_blank" rel="noopener noreferrer">{{ pub.title }}</a>
          {% else %}
            {{ pub.title }}
          {% endif %}
        </cite>
          <div class="metadata">
            {% assign formatted_authors = "" %}
            {% assign has_equal_contrib = false %}

            {% for author in pub.authors %}
              {% assign author_name = author.name | default: author %}

              {% if author.equal %}
                {% assign has_equal_contrib = true %}
                {% assign author_display = author_name | append: "<sup>*</sup>" %}
              {% else %}
                {% assign author_display = author_name %}
              {% endif %}

              {% if author_name == "Yuxiao Li" %}
                {% assign author_display = "<b>" | append: author_display | append: "</b>" %}
              {% endif %}

              {% assign formatted_authors = formatted_authors | append: author_display %}

              {% unless forloop.last %}
                {% assign formatted_authors = formatted_authors | append: "||" %}
              {% endunless %}
            {% endfor %}
          <div class="pub-authors">
            {{ formatted_authors | split: "||" | array_to_sentence_string }}
            {% if has_equal_contrib %}
              <span class="equal-contrib">
                <em>(* equal contributions)</em>
              </span>
            {% endif %}
          </div>
          {% if pub.venue %}
            <div class="pub-venue"><em>{{ pub.venue }}</em></div>
          {% endif %}
        </div>
        <details>
          <summary>Abstract{% if pub.incoming %} · <em>Incoming</em>{% endif %}</summary>
          <div  class="abstract">
            {{ pub.abstract }}
          </div>
        </details>
        <br>
      {% endfor %}
    {% endfor %}
  </article>
</div>

<!-- Work Experience -->
<br>
<div class="card">
  <h2 class="header">Work Experience</h2>
  {% for position in site.data.cv.work %}
    <div class="line-with-icon">
      <img class="favicon" src="/images/favicons/{{ position.logo }}" alt="{{ position.name }} Logo">
      <div class="entry">
        <div class="line">
          <span><b>{{ position.position }}</b>, <i>{{ position.company }}</i></span>
          <span style="float: right"><b>{{ position.date }}</b></span>
        </div>
        {% if position.supervisor %}
        Supervised by {{ position.supervisor }}<br>
        {% endif %}
        <p>
          {{ position.description }}
        </p>
      </div>
  </div>
  {% endfor %}
</div>

<!-- Review Service -->
<br>
<div class="card">
  <h2 class="header">Review Service</h2>
  <ul>
    {% for review in site.data.cv.reviews %}
      <li>{{ review.venue }} ({{ review.year }})</li>
    {% endfor %}
  </ul>
</div>



<!-- Past Projects -->
<!-- <br>
<div>
  <h2 class="header">Past Projects</h2>

  <div>
    <div class="line">
      <span><b>Verified System F interpreter in Stainless</b></span>
      <span><a href="https://github.com/Ef55/stainless-stlc" class="box-link">Repository</a></span>
    </div>
    <p>
      Verified typechecker and interpreter for System F in Scala. The software is verified with <a href="https://github.com/epfl-lara/stainless">Stainless</a>, a verification framework for Scala.
      Properties of the calculus such as progress, preservation and type derivation uniqueness are proved.
      This used to be the second largest project ever verified with Stainless. It is still used as a benchmark, as part of <a href="https://github.com/epfl-lara/bolts/">Bolts</a>.
    </p>
  </div> -->
