<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="robots" content="all, max-image-preview:large">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="theme-color" content="#ffffff">
        <link rel="canonical" href="{{ site.url | append: site.baseurl }}">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title}}">
        <meta property="og:description" content="{{ site.description}}">
        <meta property="og:url" content="{{ site.url | append: site.baseurl }}">
        <meta property="og:image" content="{{ site.url | append: site.baseurl }}/{{ site.portrait }}">
        <meta property="og:site_name" content="{{ site.title}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
        <!-- Favicon -->
        <link id="favicon" rel="icon" type="image/png" sizes="32x32" href="/images/favicons/andrea-light-favicon.png">
        <script>
            (function () {
                const mq = window.matchMedia('(prefers-color-scheme: dark)');
                const el = document.getElementById('favicon');
                function setIcon() {
                el.href = mq.matches ? '/images/favicons/andrea-dark-favicon.png' : '/images/favicons/andrea-light-favicon.png';
                }
                setIcon();
                mq.addEventListener ? mq.addEventListener('change', setIcon)
                                    : mq.addListener(setIcon); // older Safari
            })();
        </script>

        <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "Person",
            "@id": "{{ site.url | append: site.baseurl }}/#me",
            "name": "{{ site.title }}",
            "url": "{{ site.url | append: site.baseurl }}",
            "image": "{{ site.url | append: site.baseurl }}/{{ site.portrait }}",
            "jobTitle": "PhD Student in Computer Science",
            "affiliation": {
                "@type": "Organization",
                "name": "Chair of Responsible Data Science, Technical University of Munich"
            },
            "sameAs": [
                "{{ site.google_scholar }}",
                "{{ site.orcid }}",
                "{{ site.github }}",
                "{{ site.bluesky }}"
            ]
            }
        </script>

        <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "@id": "{{ site.url | append: site.baseurl }}/#website",
            "url": "{{ site.url | append: site.baseurl }}/",
            "name": "{{ site.title }}",
            "publisher": { "@id": "{{ site.url | append: site.baseurl }}/#me" }
            }
         </script>

         <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "Organization",
            "@id": "{{ site.url | append: site.baseurl }}/#org",
            "url": "{{ site.url | append: site.baseurl }}/",
            "name": "{{ site.title}}",
            "logo": {
                "@type": "ImageObject",
                "@id": "{{ site.url | append: site.baseurl }}/#logo",
                "url": "{{ site.url | append: site.baseurl }}/images/favicons/andrea-light-favicon.png",
                "width": 832,
                "height": 832
            },
            "sameAs": [
                "{{ site.google_scholar }}",
                "{{ site.orcid }}",
                "{{ site.github }}",
                "{{ site.bluesky }}"
            ]
            }
        </script>

        <!-- Stylesheets -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/css/default.css' | relative_url }}" />
        {% if page.inlineCSS %}
        <style>{{ page.inlineCSS }}</style>
        {% endif %}
    </head>
    <body>
        <header>
            <div class="column header-row">
                <a class="title" href="/">
                    <img src="/images/favicons/andrea-light-favicon.png" alt="Logo" style="height:32px; vertical-align:middle; margin-right:4px; margin-top: -5px;">
                    <b>{{ site.title }}</b>
                </a>
                <nav>
                    {% for nav_page in site.data.navigation.pages %}
                    <a href="{{ nav_page.url }}" class="{% if page.url == nav_page.url %}active{% endif %}">
                        {{ nav_page.title }}
                    </a>
                    {% endfor %}
                </nav>
            </div>
        </header>

        <main role="main">
            <div class="column">
                {{ content }}
            </div>
        </main>

        <footer>
            Last update: {{ site.time | date: "%d/%m/%Y" }}
            <div class="separator"></div>
            <a href="{{ site.repository }}">Sources</a>
        </footer>
    </body>
</html>
